.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.blogCards {
  margin: 20px 0;
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 20px;
  max-width: 400px;
  height: 200px;
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
